body {
    font-family: "Bebas Neue", cursive;
    background-color: #3cadc4;
    color: #ffffff;
    text-align: center;
}

h1 {
    color: #fff8f1;
}

input {
    color: #5f939a;
    font-size: 2em;
}

#height {
    margin: auto;
    width: 50%;
}

#weight {
    margin: auto;
    width: 50%;
}

#btn {
    margin: auto;
    margin-top: 10px;
    width: 50%;
}

h2 {
    width: auto;
}

hr {
    margin-top: 10px;
    margin: auto;
    width: 50%;
}

.btn,
.btn:hover {
    background-color: #000000;
    color: #d6f8ff;
    border-color: #d9dedf;
    font-size: 2em;
}

.btn:hover {
    color: #000000;
    background-color: #ffffff;
}

.social {
    text-align: end;
    padding: 0 4px;
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: aqua;
}

.social:hover {
    background: #e0119b;
    padding: 0 25px;
    transition: .5s;
}